.profile__add-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.main__enlace {
  text-align: center;
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
  background-color: black;
  color: white;
  border: 0;
}
