.modal-overlay {
  position: absolute;
  width: 30vw;
  height: 70vh;
  margin: auto;
  top: 10vh;
  left: 25vw;
  background: black;
  /* background-color: #2b3133; */
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  z-index: 1;
}

.modal__message {
  position: relative;
  width: 400px;
  height: 60vh;
  margin: auto;
  top: -10px;
  background: white;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  /* z-index: 100; */
}

.popup__form {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.popup__cerrar {
  position: relative;
  width: 23px;
  height: 23px;
  left: 27vw;
  top: -4vh;
  z-index: 10;
}
.popup__heading {
  font-family: Inter;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  color: white;
  margin-left: 19px;
  padding-top: 0;
  text-align: center;
  position: relative;
  top: -30px;
}

.popup__field {
  font-family: Inter;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  width: 25vw;
  height: 8vh;
}
.popup__message {
  text-align: center;
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
}
.popup__enlace {
  text-align: center;
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
  color: white;
  text-decoration: none;
}
.popup__enlace:hover {
  color: blueviolet;
}
.popup__img {
  width: 200px;
  height: 200px;
}
.popup__input {
  width: 100%;
  background-color: black;
  color: white;
  border-style: none;
}
.popup__cerrar:hover {
  opacity: 0.6;
}
.popup__cerrarIMG {
  position: relative;
  width: 25px;
  height: 25px;
  left: 30vw;
  top: -290px;
  z-index: 10;
}
.imagen__pic {
  width: 400px;
  height: auto;
}

.popup__input_type_error {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: red;
}
.popup__button {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  width: 20vw;
  height: 50px;
  border: 1px #c4c4c4 solid;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup__button_disabled {
  background: gray;
  color: rgba(62, 58, 58, 0.541);
  border: 1px gray solid;
  transition: background 0.2s;
}

.popup__button:hover {
  background-color: white;
  color: #000;
}

@media screen AND (max-width: 700px) {
  .popup__cerrarIMG {
    left: 400px;
  }
}
@media screen AND (max-width: 550px) {
  .popup__cerrarIMG {
    left: 305px;
  }
}

@media screen AND (max-width: 440px) {
  .popup__container {
    width: 300px;
    height: 320px;
  }
  .popup__cerrar {
    width: 25px;
    height: 25px;
    left: 140px;
    top: -60px;
  }
  .popup__cerrarNP {
    width: 25px;
    height: 25px;
    left: 140px;
    top: -60px;
  }
  .form {
    width: 300px;
    height: 300px;
  }
  .form__set {
    width: 280px;
    max-width: 280px;
  }
  .popup__heading {
    margin-left: 43px;
  }
  .popup__input {
    width: 230px;
  }
  .popup__button {
    width: 230px;
    height: 30px;
  }
}
@media screen AND (max-width: 350px) {
  .popup__container {
    width: 230px;
    height: 300px;
  }
  .popup__cerrar {
    width: 15px;
    height: 15px;
    left: 110px;
    top: -35px;
  }
  .popup__cerrarNP {
    width: 15px;
    height: 15px;
    left: 110px;
    top: -35px;
  }
  .form {
    width: 230px;
    height: 230px;
  }
  .form__set {
    width: 210px;
    max-width: 210px;
  }
  .popup__input {
    width: 180px;
    font-size: 12px;
  }
  .popup__heading {
    font-size: 16px;
    margin-left: 30px;
  }
  .popup__button {
    width: 180px;
    font-size: 14px;
  }
  .form__submit {
    width: 150px;
    height: 20px;
    font-size: 0.7rem;
    margin-top: 0;
    padding-top: 5px;
  }
}
@media screen AND (max-width: 250px) {
  .popup__container {
    width: 170px;
    height: 300px;
  }
  .popup__cerrar {
    width: 15px;
    height: 15px;
    left: 80px;
    top: -35px;
  }
  .popup__cerrarNP {
    width: 15px;
    height: 15px;
    left: 80px;
    top: -35px;
  }
  .form {
    width: 200px;
    height: 230px;
  }
  .form__set {
    width: 200px;
    max-width: 210px;
  }
  .popup__input {
    width: 120px;
    font-size: 10px;
  }
  .popup__input_type_error {
    font-size: 6px;
  }
  .popup__heading {
    font-size: 12px;
    margin-top: 1px;
    padding-top: 0;
    margin-left: 55px;
  }
  .popup__button {
    width: 120px;
    font-size: 14px;
  }
}
